[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swww img "%h/Pictures/Background.gif"
Restart=on-failure
RestartSec=5s

# Niri config starts swww-daemon on startup
