[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStartPre=/usr/bin/swww-daemon -q > /dev/null 2>&1
ExecStart=/usr/bin/swww img "%h/Pictures/Background.gif"
Restart=on-failure